@font-face {
    font-family: Bebas;
    src: url(BebasNeue-Regular.otf);
} 

#painel{
    font-size: 30px;
    font-family: Bebas;
}

span #teste{
    float: right;
}

.navbar-brand{
    font-family: Bebas;
    font-size: 50px;
}